/*width for dropdown  */
.ui-menu {
  width: 300px; /* Adjust the width as needed */
}

.panel {
  float: left;
  /* Adjust based on desired layout (horizontal/vertical) */
  border: 1px solid #ccc;
  padding: 0;
  height: 85vh;
  display: block;
}

.right {
  width: 50%;
  overflow: scroll;
}

.left {
  width: 50%
}

.ui-datatable table thead tr {
  display: none;
}

.ui-accordion .ui-accordion-content {
  overflow: visible !important;
  max-height: none !important;
}

.cms-scroll-wrapper {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: auto;
  min-height: 0;
}

.cms-scroll-wrapper {
  overflow-y: auto;
  min-height: 0;
}

.link-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* 	gap: 8px; */
  height: 32px;
}

.orange-dot {
  width: 8px;
  height: 8px;
  background-color: #FF7300;
  border-radius: 50%;
  flex-shrink: 0;
}

.cms-uri {
  word-break: break-all;
}

.ui-datatable .ui-state-highlight {
  background-color: var(--Primary-P300, #007095) !important;
  color: #ffffff !important;
}

.column-header {
  background: #FAFAFA;
  border: 1px solid #E5E7EB;
  padding: 6px 10px;
  font-weight: 600;
  font-size: 12px;
  height: 36px;
}

.ui-accordion-header {
  border-top-right-radius: unset !important;
  border-top-left-radius: unset !important;
}

#column-container {
  padding: 0 0.4rem 0 0.4rem;
}

.columns {
  padding: 1rem 0 0 0;
}

.cms-info-icon {
  font-size: 12px;
  color: #007095;
  cursor: pointer;
}